* {
   box-sizing: border-box;
}

ul {
   margin: 0;
}

html {
   scroll-behavior: smooth; 
}

body, p {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Roboto', sans-serif;
   background-color: #fff;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.header {
   background-color: #c3c2db;
}

main {
   flex-grow: 1;
}

.header_left {
   flex-basis: 60%;
}

.header_right {
   flex-basis: 40%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
footer {
   background-color: #c3c2db;
}

footer .container {
   display: flex;
   justify-content: space-between;
}

.container {
   flex-grow: 1;
   max-width: 1024px;
   margin: 0 auto;
   padding: 0 32px;
 }

.nav-list {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   list-style: none;
}

.nav-link {
   padding: 0 20px;
   font-size: 15px;
   line-height: 50px;
   text-decoration: none;
   color: #000;
}

section {
   border-bottom: 1px solid #000;
   padding: 10px;
}